.wrapper{
    position: absolute;
    z-index: -1;
    font-size: 16px;
    font-family: 'Source Code Pro';
    line-height: 22px;
    color: white;
    padding-left: 1%;
    opacity: 20%;
    position: fixed;
}