.wrapper{
    position: absolute;
    z-index: -1;
    font-size: 15px;
    font-family: 'Source Code Pro';
    line-height: 22px;
    color: #2c2b2e;
    padding-left: 6px;
    word-break: break-all;
    position: fixed;
}