.albumChoice{
    /*
    you'll eventually have to change this percent when you 
    introduce the banner component
    */
    padding-top: 20%;
    display: flex;
    justify-content: center;
}

.img{    
    float: left;
    margin: 10px;
    bottom: 0;
}

.musicCol{
    display: flex;
    justify-content: space-evenly;
}

.descBox{
    border: thick double #000;
    width: 30%;
    background-color: #dedede;
}

.description{
    text-align: left;
    padding-left: 4px;
}