.wee{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.main {
    margin: auto;
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 10%;
    width: 900px;
    height: 900px;
    background-color: #bababa;
    border-radius: 80px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    white-space: pre-wrap;
}

.musicCol{
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 14px;
}

.descBox{
    border: 2.5mm ridge rgba(82, 82, 82, 0.6);
    width: 40%;
    height: 430px;
    overflow: scroll;
    overflow-x: hidden;
    /* background aphex logo */
    background: no-repeat url("../otherFiles/logo.png") center;
    background-size: 600px;
    background-color: #dedede;
    /* text attributes */
    font-size: 14px;
    text-align: left;
    padding-left: 4px;
    word-wrap: break-word;
}

.actualHeader{
    border-radius: 80px;
    font-family: 'conthrax';
    /* background aphex banner */
    background: no-repeat url("../otherFiles/banner.png") top;
    background-size: 700px;
    background-color: #dbdbdb;
}

.bannerArea{
    padding: 20px 0px;
    position: relative;
    right: 40px;
    display: inline-grid;
    grid-template-columns: 1fr 700px;
}

h1{
    font-size: 30px;
}

.generalInfo{
    margin-left: 10px;
    padding-left: 15px;
    border: .1px solid #969696; 
    border-radius: 20px;
    border-right: 0;
    border-bottom: 0;
}
