@font-face {
    font-family: nk-monospace;
    src: url(../otherFiles/nk57-monospace-se-bd.otf);
}

@font-face {
    font-family: conthrax;
    src: url(../otherFiles/conthrax-sb.otf);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}